body {
    padding-top: 195px;
    padding-bottom: 40px;
}

.img-banner{
    margin-top: 20px;
    height: 100px;
}

.banner{
    padding-bottom: 20px;
}

.employee{
    padding-top: 15px;
    padding-bottom: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
}


.img-head{
    padding: 5px;
    width:112px;
    height:120px;
}

h3{
    color: navy;    
}

.navbar-blue{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus:hover{
    background-color: white;
    color: #2b669a;
}

body p ,h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

/* Centered Navbar */
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

.text-justify {
    hyphens: auto; 
    text-align: justify;
}

.text-state-success{
    color: #4ba34c;
}
.text-state-danger{
    color: #c1302f;
}

.alert{
    margin: auto;
    margin-bottom: 40px;
    max-width: 1024px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.logo{
    margin: 0 auto;
    max-width: 100px;
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
padding-right: 17px;
}