body {
    padding-top: 195px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/SENTRU_Logo_leadership.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.img-banner{
    margin-top: 20px;
    height: 120px;

}

.center {
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
}

.video{  
    width: 100%    !important;
    height: auto   !important;
}

.img-head{
    padding: 5px;
    width:112px;
    height:120px;
}
.img-loc{
    padding: 5px;
    width:160px;
    height:120px;
}



h3{
    color: navy;    
}

.navbar-blue{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus:hover{
    background-color: white;
    color: #2b669a;
}

body p ,h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}

/* Centered Navbar */
@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.text-justify {
    text-align: justify;
}

.form-group, .input-group{
    width:350px;
    margin: 15px auto;
}

.modal-footer-btn{
    margin: 0px auto;
}

.google-maps {
    position: relative;
    margin-top: 15px;
    padding-bottom: 20%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}